div.nullPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    height: 100vh;
    background-color: var(--background-color);
}
div.nullPage header {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    background-color: var(--background-color2);
    position: fixed;
    width: 100%;
    top: 0;
}
div.nullPage header svg.logo {
    width: 128px;
    border-radius: 30px;
    box-shadow: 0 24px 34px -10px rgba(0, 0, 0, 0.15);
}
div.nullPage header div.info {
    display: flex;
    max-width: 250px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
}
div.nullPage header div.info h1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
    overflow: hidden;
    color: var(--text-color);
    text-overflow: ellipsis;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
div.nullPage header div.info p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: var(--text-color);
    opacity: 0.5;
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
}
div.nullPage header div.info svg.by {
    height: 16px;
    width: 100px;
    color: var(--text-color);
}
div.nullPage main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1; /* 使用 flex 属性 */
    align-self: stretch;
    height: 100vh;
}
div.nullPage main form {
    display: flex;
    width: 70%;
    border-radius: 10px;
    overflow: hidden;
}
div.nullPage main form input {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    background-color: var(--background-color2);
    border: none;
}
div.nullPage main form input:focus {
    color: var(--high-color);
    outline: none;
}
div.nullPage main form button {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    background-color:var(--high-color);
    color: #FFFFFF;
}
div.nullPage footer {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    align-self: stretch;
    background-color: var(--background-color2);
    position: fixed;
    width: 100%;
    bottom: 0;
}
div.nullPage footer h2 {
    display: -webkit-box;
    width: 354px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    /*color: #000;*/
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}
div.nullPage footer div.box {
    display: inline-flex;
    padding: 10px;
    align-items: center;
    gap: 0;
    align-self: stretch;
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 12px */
}
div.nullPage footer div.box p {
    width: auto;
    opacity: 0.5;

}
div.nullPage span {
    width: auto;
    color: var(--high-color);
}
div.nullPage footer p {
    display: -webkit-box;
    width: 354px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    /*color: #858585;*/
    text-overflow: ellipsis;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
}